@import url('https://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope|Nothing+You+Could+Do|Anaheim');

html, body {
    margin: 0; 
}

header {
    height: 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: pink; 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

button {
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 30px; 
}


.carrousel {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

section h1 { 
    flex-direction: row;
    justify-content: center;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 50px; 
    text-align: center; 
    
}

section h2 {
    flex-direction: row;
    justify-content: center;
    font-family: 'Annie Use Your Telescope', cursive;
    font-size: 30px; 
    text-align: center; 
}

img {
    height: 500px; 
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    height: 10px;
    min-height: 20%;
    width: 100%;
    padding: 5px 10px; 
    font-family: 'Annie Use Your Telescope', cursive;
    background-color:rgb(202, 202, 202); 
}

footer a {
    color: black;
}

footer a:hover {
    color:grey;
}